{
    "presets": [
        "es2015",
        "react"
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "style": true // or 'css' 
            }
        ]
    ]
}